---
- name: install packages
  action: "{{ ansible_pkg_mgr }} pkg={{ item }} state=installed"
  with_items:
  - rubygem-bundler
  - ruby-devel
  - curl-devel
  - git
  - make
  - gcc
  - gcc-c++
  - ImageMagick
# used to send email about build broken
  - mutt
# nokogiri build requires patch
  - patch
# nokogiri also requires zlib-devel to build libxml
  - zlib-devel

- name: install packages
  action: "{{ ansible_pkg_mgr }} pkg={{ item }} state=installed"
  with_items:
  - redhat-rpm-config
  when: ansible_distribution == 'Fedora' and ansible_distribution_major_version >= '23'

- set_fact: checkout_dir="/srv/builder/{{ name }}"

- copy: dest=/usr/local/bin/build_deploy.py src=build_deploy.py mode=755 owner=root group=root

# needed so NRPE can check log
- file: path="/srv/builder" mode=755 state=directory

- user:
   name="{{ builder_username }}"
   comment="Middleman builder user"
   generate_ssh_key=yes
   home="/srv/builder"
   ssh_key_file="/srv/builder/.ssh/{{ name }}_id.rsa"
  register: result

- git: repo="{{ git_url }}" dest="{{ checkout_dir }}" version="{{ git_version | default( "HEAD" ) }}" update="no"
  sudo: yes
  sudo_user: '{{ builder_username }}'

- command: chdir="{{ checkout_dir }}" bundle install
  sudo: yes
  sudo_user: '{{ builder_username }}'

- set_fact:
      remote_url: ""

- set_fact:
      remote_url: "{{ remote_user }}@{{ remote_server }}:{{remote_location}}"
  when: remote_server is defined and remote_location is defined and remote_user is defined

- template: dest=/srv/builder/{{ name }}.yml src=builder.yml

- cron: name="build and deploy {{ name }}" job="/usr/local/bin/build_deploy.sh /srv/builder/{{ name }}.yml" user="{{ builder_username }}"

# TODO add ip restriction
- authorized_key:
      key="{{ result.ssh_public_key }}"
      key_options="command=\"rsync --server -vlogDtprze.isf --delete-after . {{ remote_location }}\",no-port-forwarding,no-agent-forwarding,no-X11-forwarding,no-pty"
      user="{{ remote_user }}"
  delegate_to: "{{ remote_server }}"
  remote_user: "{{ remote_user }}"
  when: remote_server is defined and remote_location is defined and remote_user is defined
